version: '3.8'

services:
  nats:
    image: nats:latest
    container_name: nats_server
    command: "--cluster_name NATS --cluster nats://0.0.0.0:6222 --http_port 8222 "
    networks: ["nats_network"]
    ports:
      - '6222:6222'
      - '8222:8222'

  puf_hub_frontend:
    build: ./puf_frontend
    container_name: puf_hub_frontend
    ports:
      - '3000:3000'
    volumes:
      - ./puf_frontend:/app
      # Consider removing the next line if unnecessary
      - /app/node_modules

  test_hub_backend:
    build: ./puf_manager
    container_name: test_hub_backend
    network_mode: host
    depends_on:
      - nats
    ports:
      - '8000:8000'
    volumes:
      - ./puf_manager:/app

networks:
  nats_network:
    name: nats_network

